<div class="container-fluid" style="position: relative; ">
  <!-- <div class="row">
      <h2>ChatNchat</h2>
      <hr>
  </div> -->
   <div class="row">
    <div class="col-sm-5">

      <h1 >Hi {{user}}</h1>

    </div>
  </div>

     <!-- <div class="col-sm-5">
        <label for="roomInput">Choose Person</label>
        <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]="room" *ngIf="user">
            <option value="Lobby" >SOURAV</option>
            <option value="Hall">SWAGATA</option>
            <option value="Deluxe">VICKY</option>
            <option value="group">GROUP CHAT</option>
        </select>
    </div>

      <div class="col sm-2">
          <div style="margin-top:19px;" >
              <button type="button" class="btn btn-primary" (click)="join()" [disabled]="!user || !room">Join</button>
              <button type="button" class="btn btn-default" (click)="leave()">Leave</button>
          </div>
      </div>
  </div> -->

  <div class="row"   >
      <div class="well "  id="chatBox" style="height: 60vh; max-width: 995px; overflow-y: auto ; margin: auto; ">
          <div *ngFor="let item of messageArray"  >
            <div class="msgleft " *ngIf="!(item.user===user)">
              <span><strong>{{item.user}} : </strong> {{item.message}}</span>

            </div>
             <div class="msgright" *ngIf="(item.user===user)">
              <span><strong>{{item.user}} : </strong> {{item.message}}</span>

            </div>

          <!-- <span><strong>{{item.user}} : </strong> {{item.message}}</span> -->
          </div>
      </div>
  </div>
  <div class="row " >
      <div class="col-sm-10  " >
          <input class="msgtext"  type="text" class="form-control"  [(ngModel)]="messageText"  >
      </div>
      <div class="col-sm-2">
              <button type="button" class="btn btn-success" (click)="sendMessage()" [disabled]="!messageText" >Send</button>
  </div>
  </div>

</div>
<script >
//   var scrolled = false;
// function updateScroll(){
//     if(!scrolled){
//         var element = document.getElementById("yourDivID");
//         element.scrollTop = element.scrollHeight;
//     }
// }


//   function updateScroll(){
//     var element = document.getElementById("chatBox");
//     element.scrollTop = element.scrollHeight;
//    }
// updateScroll()
//   var objDiv = document.getElementById("chatBox");
// objDiv.scrollTop = objDiv.scrollHeight;

</script>
