<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="padding-left: 50px; ">
    <div class="alert alert-success" style=" object-position: 50%; padding-left: 100px;" *ngIf="auth.isSignup">
      <strong>Success!</strong> User Created Successfully
    </div>

    <div class="alert alert-danger" style="object-position: center; " *ngIf="this.error_message" >
      <strong>{{error_message}}</strong>
    </div>


    <div class="row" style="padding-left: 500px;">

      <div class="col-xm-12">


          <div class="row">
            <div class="col-xs-5" >
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email"  id="email"  class="form-control" formControlName="email" >
                <span
              *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched "
              class="help-block" style="color: rgb(231, 6, 6);">please ender valid data</span>
              </div>


            </div>

          </div>

          <div class="row">
            <div class="col-xs-5" >
              <div class="form-group">
                <label for="password">PASSWORD</label>
                <input type="password" id="password"  class="form-control" formControlName="password" >
                <span
              *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched "
              class="help-block">
              <span *ngIf="loginForm.get('password').errors['required']"
              style="color: rgb(231, 6, 6);"> password is requried</span>
            </span>
              </div>


            </div>

          </div>
          <div class="row">
            <div class="col-xs-12">
              <button
              type="submit"
              class="btn btn-success"  [disabled]="!loginForm.valid">LOGIN</button>

            </div>
          </div>
        </div>


    </div>




  </form>
</div>
